$font_1:'Montserrat';
$font_b: 'sans-serif';
$font_m:'montserratsemibold';
$font_t:'montserratextrabold';
$font_a:'montserratmedium';
$font_j:'montserratregular';
$gr: #333333;
$b: black;
$w: white;
$r:#fb5367;
$g: #585858;
$d:#213f59;


